body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AB61E4;
    min-height: 100vh;
    overflow: hidden;
    color: #fff;
}

.calculator {
    --header-bg: rgba(255, 255, 255, .2);
    --body-bg: rgba(255, 255, 255, .3);
    --button-bg: rgba(255, 255, 255, .2);
    --button-bg-hover: rgba(255, 255, 255, .3);
    --button-highlight-bg: rgba(255, 255, 255, .5);
    --button-highlight-bg-hover: rgba(255, 255, 255, .3);
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

    position: relative;
    width: 280px;
    box-shadow: rgb(24 32 79 / 25%) 0px 40px 80px, rgb(255 255 255 / 50%) 0px 0px 0px 0.5px inset;
    border-radius: 15px;
    z-index: 10;

    &:hover {
        margin-bottom: 5px;

        ~.calculator-back {
            transform: skewY(18deg);
            width: 35%;
        }
    }

    &.dark {
        --header-bg: rgba(2, 14, 39, .2);
        --body-bg: rgba(2, 14, 39, .3);
        --button-bg: rgba(2, 14, 39, .2);
        --button-bg-hover: rgba(255, 255, 255, .1);
        --button-highlight-bg: rgba(2, 14, 39 .5);
        --button-highlight-bg-hover: rgba(2, 255, 255, .15);
    }
    &-header {
        position: relative;
        background-color: var(--header-bg);
        padding: 30px 30px 15px 30px;
        text-align: right;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        backdrop-filter: blur(40px);
        box-shadow: inset 0px 2px 1px rgba(#fff, .1)
    }
    &-body {
        position: relative;
        background-color: var(--body-bg);
        padding: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        backdrop-filter: blur(20px);
        min-height: 250px;
    }
    &-operation {
        font-size: 18px;
        margin-bottom: 4px;
        &-result {
            font-size: 42px;
            font-weight: bold;
        }
    }
    &-button {
        position: relative;
        display: block;
        height: 100%;
        border: 1px solid transparent;
        background-color: var(--button-bg);
        font-size: 20px;
        cursor: pointer;
    }
}

.bg-item {
    position: absolute;
}

#bg-1 {
    filter: blur(10px);
}

#bg-2 {
    filter: blur(36px);
}

#bg-4 {
    filter: blur(50px);
}

#bg-6 {
    filter: blur(40px);
}

#bg-7 {
    filter: blur(30px);
}

#bg-9 {
    filter: blur(20px);
}